@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
@mixin font1($size) {
    font-family: 'Akaya Kanadaka';
    font-size: $size;
    color: rgb(255, 0, 200);
}
@mixin background($background) {
    background-image: url($background);
    background-size: cover;
    padding: 5%;
}
body{
    margin: 0;
}
@mixin font2($size) {
    font-family: 'Otomanopee One';
    font-size: $size;
    color: cyan;
}
.intro{
    text-align: center;
    @include background("./images/doppler.png");
}
#zen-supporting{
    @include background("./images/sky.jpg");
}
.sidebar{
    @include background("./images/city.jpg");
}
p{
    @include font2(1.04em);
    text-align: center
}
h1{
    @include font1(5.04em);
    text-align: center;
    text-shadow: 10px 10px 20px pink;
    letter-spacing: -1px;
}
h2{
    @include font1(2.04em);
    text-align: center;
    text-shadow: 5px 5px 10px blanchedalmond;
    letter-spacing: -1px;
}
h3{
    @include font1(5.04em);
    text-shadow: 5px 5px 10px blanchedalmond;
    letter-spacing: -1px;
}
#main-supporting{
    text-align: left;
}
nav{
    margin-bottom: 3rem;
    border-radius: 2rem;
    background: cornflowerblue;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}
.zen-resources ul{
    border-radius: 2rem;
    background: cornflowerblue;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}
#zen-supporting p{
    border-radius: 1rem;
    margin-bottom: -1.1rem;
    background: cornflowerblue;
}
.intro p{
    margin-bottom: -1.1rem;
    background: cornflowerblue;
}
ul{
    @include font2(1.04em);
}
footer{
    border-radius: 1rem;
    background: cornflowerblue;
    @include font2(1.04em);
}
abbr{
    font-size: 1.5em;
    font-weight: bold;
}
a:link{
    color: cyan;
}
a:hover{
    color: pink;
    background-color: purple;
}